# Secrets applicatifs
.env
.env.*
!.env.sample

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log

# Clés privées
*.pem
*.key
id_rsa
id_ed25519

# Python
__pycache__/
*.pyc
.pytest_cache/

# Système et éditeurs
.DS_Store
.vscode/